html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: auto repeat(2, 336px) auto;
  grid-template-rows: auto repeat(2, 336px) auto;
  height: 100%;
  width: 100%;
}

.design-container {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 2;
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: repeat(4, 34px) repeat(2, 200px) repeat(4, 34px);
  grid-template-rows: repeat(4, 34px) repeat(2, 200px) repeat(4, 34px);
  transform: rotate(45deg)
}

.square {
  border-style: solid;
  border-width: 12px;
  border-radius: 22px;
}

.maroon {
  grid-row-start: 1;
  grid-row-end: span 10;
  grid-column-start: 5;
  grid-column-end: span 2;
  border-color: rgba(190, 50, 43, 0.9);
  z-index: 5;
}

.orange {
  grid-row-start: 2;
  grid-row-end: span 8;
  grid-column-start: 4;
  grid-column-end: span 4;
  border-color: rgba(255, 101, 13, 0.9);
  z-index: 4;
}

.purple {
  grid-row-start: 3;
  grid-row-end: span 6;
  grid-column-start: 3;
  grid-column-end: span 6;
  border-color: rgba(94, 36, 61, 0.86);
  z-index: 3;
}

.blue {
  grid-row-start: 4;
  grid-row-end: span 4;
  grid-column-start: 2;
  grid-column-end: span 8;
  border-color: rgba(33, 31, 55, 0.98);
  z-index: 2
}

.navy {
  grid-row-start: 5;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: span 10;
  border-color: rgba(28, 96, 143, 0.91);
  z-index: 1
}
